/*
!/local
/local/*

!/local/php_interface
/local/php_interface/*
!/local/php_interface/migrations

!/local/components
/local/components/*
!/local/components/ace
/local/components/ace/*
/local/components/ace/checker.sypexgeo

.idea

!/.gitignore

*.DS_Store
